---
---

@import "{{ site.theme }}";

body {
    background-color: #191724;
    color: #e0def4;
}

a {
    color: #c4a7e7;
}

a:hover {
    color: #eb6f92;
}

h2, h3 {
    color: #908caa;
    display: block;
}
